# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jiyawang <jiyawang@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/08/01 19:28:41 by jiyawang          #+#    #+#              #
#    Updated: 2025/08/01 19:28:41 by jiyawang         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.a
*.o
*.out
a.out
.DS_Store
*.dSYM
test.c
main.c
test
*.txt
.vscode
.idea/
*.code-workspace
settings.json
cscope.*
tags